<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinliangjishipin.pushwms.mapper.POrderDetailMapper">
    <resultMap id="pOrdersDetailMap" type="com.xinliangjishipin.pushwms.entity.POrderDetail">
        <result property="isGift" column="is_gift"/>
        <result property="warehouseCode" column="warehouse_code"/>
        <result property="materialCode" column="material_code"/>
        <result property="materialName" column="material_name"/>
        <result property="quantity" column="quantity"/>
        <result property="measureUnits" column="measure_units"/>
        <result property="pkOrderHeader" column="pk_order_header"/>
        <result property="pkOrderBody" column="pk_order_body"/>
    </resultMap>
    <select id="getPOrdersDetail" parameterType="string" resultMap="pOrdersDetailMap">
        SELECT CASE WHEN blargess='N' THEN '0' ELSE '1' END "is_gift", bd_stordoc.code "warehouse_code",
        bd_material.code "material_code",
        bd_material.name "material_name", po_order_b.nastnum "quantity", bd_measdoc.name "measure_units",
        po_order_b.pk_order "pk_order_header", po_order_b.pk_order_b "pk_order_body"
        FROM po_order_b
        INNER JOIN po_order ON po_order_b.pk_order = po_order.pk_order
        INNER JOIN bd_stordoc ON po_order_b.pk_recvstordoc = bd_stordoc.pk_stordoc
        INNER JOIN bd_material ON po_order_b.pk_material = bd_material.pk_material
        INNER JOIN bd_measdoc ON po_order_b.castunitid = bd_measdoc.pk_measdoc
        WHERE 1 = 1
        AND NVL(po_order_b.dr, 0) = 0
        AND NVL(bd_stordoc.dr, 0) = 0
        AND NVL(bd_material.dr, 0) = 0
        AND NVL(bd_measdoc.dr, 0) = 0
        AND bd_stordoc.enablestate = 2
        AND bd_material.enablestate = 2
        AND po_order_b.pk_order=#{pkOrder}
    </select>
</mapper>